/* Git section */
.github-graph {
    margin-bottom: 30px;
    .js-calendar-graph-svg{
        max-width:100%;
    }
    h2 {
	    font-size: 18px;
    }
    color:black

}

.ghfeed {
    height: 500px;
    @include reset-box-sizing();
}